@model Web.Models.SearchViewModel

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Results</h2>
<ul class="list-group">
    @foreach (var searchResult in Model.SearchResults)
    {
        <li class="list-group-item">
            <div>
                <img class="img-thumbnail img-responsive" width="48px" height="48px" src="@searchResult.ProfileImageUri"/>
                @searchResult.Nickname: @searchResult.Content
            </div>
        </li>
  
    }
</ul>